/* Sidebar */
.sidebar {
  position: fixed;       /* Fija al viewport */
  top: 0;                /* Desde arriba */
  left: 0;               /* Pegado al borde izquierdo */
  width: 300px;          /* Ancho de la barra */
  height: 100vh;         /* Toda la altura de la ventana */
  background-color: #2b2b2b;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  z-index: 1000;         /* Para estar por encima de otros elementos */
}

.sidebar.open {
  width: 300px;
}

.sidebar.closed {
  width: 0%; /* Oculta la barra */
}

/* Botón toggle: fijo, justo al borde derecho del sidebar abierto */
.sidebar-toggle-button {
  position: fixed;
  top: 20px;
  left: 300px; /* justo afuera del sidebar */
  width: 30px;
  height: 30px;
  background: #666;
  border: none;
  color: white;
  cursor: pointer;
  transition: left 0.3s ease;
  z-index: 1000; /* que esté sobre todo */
}

.sidebar-header {
  padding: 10px;
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}


.sidebar-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}



